@font-face {
	font-family: 'Gilroy';
	src: url('./contents/font/Gilroy-ExtraBold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Gilroy', sans-serif;
  color: white;
}

.App-menu {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-family: 'Gilroy', sans-serif;
  vertical-align: middle;
  border-top: 1px solid #3e4450;
  color: white;
}

.App-language {
  font-family: initial;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.8rem;
  vertical-align: top;
}

.App-language img {
  height: 25px;
}

.App-menu .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 35px;
}

.App-menu .active {
  background-color: #587f92;
}

.App-contents {
  background-image: url("./contents/image/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  background-size: contain;
  height: calc(100vh - 157px);
  overflow-y: scroll;
  border-top: 1px solid #3e4450;
  color: #282c34;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-contents .content-area {
  margin-top: 20px;
  text-align: left;
  width: 95%;
  max-width: 700px;
}

.content-area .title {
  padding: 5px;
  font-size: 1.1rem;
  font-family: 'Gilroy', sans-serif;
  background-color: #254898;
  border: 1px solid #254898;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.content-area .content {
  padding: 5px 10px;
  font-size: 0.8rem;
  background-color: rgba(37, 72, 152, 0.15);
  border: 1px solid #254898;
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
}

.content-area .address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content-area .job {
  font-size: 0.9rem;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
}

.content-area .name {
  font-size: 0.8rem;
  font-family: 'Gilroy', sans-serif;
  margin-right: 10px;
}

.content-area .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.content-area .text {
  margin-right: 10px;
}

.content-area .lisk-icon {
  width: 12px;
  height: 13px;
  fill: #203bb3 !important;
}

.content-area a {
  color: #203bb3;
}

.content-area ul {
  margin: 0px;
  padding: 0px 0px 10px 30px;
}

.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.form-area div {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.form-area .textbox {
  width: 90%;
  min-width: 200px;
  font-size: 16px;
  padding: 7px;
  border: 1px solid #999999;
  border-radius: 5px;
  box-shadow:0 0 2px 0 #cccccc;
}

.form-area .textbox:focus {
  border: 1px solid #69b9af;
  box-shadow:0 0 3px 0 #9cece2;
  outline: none;
}

.form-area .button {
  width: 200px;
  font-size: 16px;
  padding: 5px;
  background-color: #4b9b90;
  border: 1px solid #3c7970;
  border-radius: 5px;
  color: white;
}

.form-area .button:active {
  background-color: #3c7970;
  border: 1px solid #4b9b90;
}

.reward-title {
  margin-right: 10px;
  font-size: 0.95rem;
  font-weight: bold;
}

.reward-result {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

button.swal2-confirm {
  width: 200px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
